
<!-- SIDEBAR COVER -->
<div ui-view="app-sidebar"></div>

<!-- CONTENT COVER -->
<div ui-view="app-content" class="page {{masterController.pageClass}}"></div>

<!-- FILTER COVER -->
<div ui-view="app-filter"></div>


<div id="mm-addfiles-cover" mm-dropzone ng-multiple="masterController.fileupload.multiple" ng-on-change="masterController.fileupload.addFiles" class="row center-xs middle-xs" ng-class="{'is-open': masterController.addItems.enabled}">
	<div class="col-xs-10">
		<div class="dropzone-inner">
			<div class="icon"><div class="fa fa-cloud-upload"></div></div>
			<div class="has-drop">
				<p class="bold">Drag & Drop</p>
				<p>your media files, or <label for="mm-media-upload-input" class="btn-browse">browse</label></p>
			</div>
			<div class="no-drop">
				<p><label for="mm-media-upload-input" class="btn-browse">Browse</label> for your files</p>
			</div>
			<div class="input-group input-group-lg">
				<input type="text" class="form-control" ng-model="masterController.addItems.virtualFile.name" placeholder="or perhaps a Virtual File">
				<span class="input-group-btn">
					<button class="btn btn-default" ng-click="masterController.addItems.virtualFile.create()" type="button">Create</button>
				</span>
			</div>
			<!-- <input type="text" class="form-control input-lg" placeholder="or perhaps a Virtual File"> -->
		</div>
	</div>
</div>



<div id="mm-fileupload-cover" class="row center-xs middle-xs" ng-class="{'is-open': masterController.fileupload.enabled }">
	<div class="col-xs-8 fu-progress">

		<div class="header-bar">
			<div class="pull-right">
				<!-- <span class="label label-success">{{masterController.fileupload.filesSuccessCount}}</span>
				<span class="label label-danger">{{masterController.fileupload.filesErrorCount}}</span> -->
			</div>
			<span>Uploading {{masterController.fileupload.files.length}} file<g ng-show="masterController.fileupload.files.length > 1">s</g></span>
		</div>
		<div class="content-sec custom-scrollbar">
			
			<div class="row center-xs">
				
				<div class="upload-item col-xs-3" ng-repeat="item in masterController.fileupload.files">
					<div mm-thumb class="mm-thumb" ng-model="item"></div>
					<div class="mm-info">
						<div class="progress">
							<div class="progress-bar" ng-class="{'progress-bar-success': item.progress > 99 && item.success, 'progress-bar-danger': item.progress > 99 && item.error}" ng-style="{'width': item.progress + '%'}"></div>
						</div>
						<div class="text">{{item.name}}</div>
						<div class="text-muted">
							<span ng-if="item.errorMsg == false">{{item.sizeMB}} - {{item.type}}</span>
							<span ng-if="item.errorMsg != false" class="text-danger">{{item.errorMsg}}</span>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		<div class="footer-bar"> <a href="" ng-click="masterController.fileupload.close()"  ng-class="{'disabled': masterController.fileupload.filesCompleted !== masterController.fileupload.files.length}" class="btn btn-link">CLOSE</a> </div>
	</div>
</div>	 



<div id="mm-filedrop-cover" class="row center-xs middle-xs">
	<div class="col-xs-4">
		<div class="icon"><div class="fa fa-cloud-upload"></div></div>
		<p>Drop Your Files to Upload</p>
	</div>
</div>


<div id="mm-delete-confirmation" class="row center-xs middle-xs" ng-class="{'is-open': masterController.deleteConfirmation.enabled}">
	<div class="col-xs-5 dc-innerwrap">
		
		<div class="dc-heading">{{masterController.deleteConfirmation.title}}</div>
		<div class="dc-content">
			<h3>
				<strong>{{masterController.deleteConfirmation.message}}</strong>
			</h3>
			<div class="checkedbox checked"> You have selected {{masterController.deleteConfirmation.items_length}} item<span ng-show="masterController.deleteConfirmation.items_length > 1">s</span>.</div>
			<div class="checkedbox checked"> All selected media item<span ng-show="masterController.deleteConfirmation.items_length > 1">s</span> will be <strong>permenantly deleted</strong>.</div>
			<div class="checkedbox checked"> All content linked to the item<span ng-show="masterController.deleteConfirmation.items_length > 1">s</span> will be <strong>broken</strong>.</div>

			<div class="btn-bar">
				<a href="" ng-click="masterController.deleteConfirmation.deferred.resolve()" class="btn btn-danger">Yes, Delete Media</a>
				<a href="" ng-click="masterController.deleteConfirmation.deferred.reject()" class="btn btn-link">Close</a>
			</div>
		</div> 

	</div>
</div>



<div id="mm-folder-manager" class="row center-xs middle-xs" ng-class="{'is-open': masterController.folders.manager.enabled}">
	<div class="col-xs-8 mm-fm-inner-wrap">
		<div class="title">
			<span>Manage Folders</span>

			<div class="input-group pull-right">
				<input type="text" class="form-control" ng-model="masterController.folders.manager.add.string" placeholder="New Folder">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button" ng-click="masterController.folders.manager.add.submit(masterController.folders.manager.add.string, true)"><i class="fa fa-plus"></i></button>
				</span>
			</div><!-- /input-group -->

		</div>

		<div class="content custom-scrollbar">

			<!-- <ul class="mm-folderList" ui-sortable="masterController.folders.sortableOptions" ng-model="masterController.folders.list">
				<li ng-repeat="folder in masterController.folders.list" ng-include="'mm-foldermanager-navtree.html'"></li>
			</ul> -->

			<tg-dynamic-directive ng-model="masterController.folders.list" tg-dynamic-directive-view="masterController.folders.getTemplate"></tg-dynamic-directive>

		</div>
		<div class="footbar">
			<a href="" ng-click="masterController.folders.manager.enabled = false" class="btn btn-link btn-all-caps">Close</a>
		</div>
	</div>

</div>

<!-- Tree Item Template -->
<script type="text/ng-template"  id="mm-foldermanager-navtree.html">


	<ul class="mm-folderList" ui-sortable="masterController.folders.sortableOptions" ng-model="ngModelItem.items" ng-class="{'mm-no-children': ngModelItem.items.length < 1}">
		
		<li ng-repeat="folder in ngModelItem.items" data-num-items="{{ngModelItem.items.length}}">

			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-folder-o"></i></span>
				<input type="text" ng-model="folder.name" class="form-control" aria-label="..." ng-focus="masterController.folders.manager.add.focus = folder.id" >
				<div class="input-group-btn">
					<a href="" class="btn btn-link" ng-click="masterController.folders.manager.edit(folder.id, folder.name)"><i class="fa fa-floppy-o"></i></a>
					<a href="" class="btn btn-link" ng-click="masterController.folders.manager.delete(folder.id)"><i class="fa fa-trash-o"></i></a>
				</div>
			</div>

			<tg-dynamic-directive ng-model="folder" tg-dynamic-directive-view="masterController.folders.getTemplate"></tg-dynamic-directive>

		</li>

	</ul>


</script>