
<!-- <h2>Speakers</h2>

<a ui-sref="app.events({id:'1'})" class="btn btn-danger btn-lg">Events</a> --
<a href="" ng-click="sendMessage()" class="btn btn-primary btn-lg">Message</a>
<pre>{{params | json}}</pre>
<pre>{{consts | json}}</pre> -->

<div class="media-listing">
	
	<div class="media-container" ng-show="mediaList.length">
		
		<div class="row center-xs">
			
			<div class="col-xs-3 media-item" ng-repeat="item in mediaItems = (mediaList | filter:{'type': masterController.filter.type})" ng-class="{'item-selected': item.selected}">
				<div class="image"><img ng-src="{{item.url}}" alt=""></div>
				<div class="text-muted text-left sub-info">{{item.width}} x {{item.height}} <span class="pull-right">{{item.ext}}</span></div>
				<div class="overlay text-left">
					<div class="checker big">
						<input id="ccbx-{{item.id}}" type="checkbox" ng-click="selectItem(item)" value="{{item.id}}">
						<label for="ccbx-{{item.id}}"></label>
					</div>
				</div>
				<div class="info">
					<div class="filename row">
						<div class="col-xs-2 text-center icon icon-{{item.type}}"><i class="fa" ng-class="{ 'fa-image':item.type == 'image', 'fa-film':item.type == 'video', 'fa-file-code-o':item.type == 'page'}"></i></div>
						<div class="col-xs-10 text-left text">{{item.name}}</div>
						<span></span>
					</div>
				</div>
			</div>

		</div>

		<div class="empty-filters" ng-if="!mediaItems.length">
			<h1>No results found</h1>
			<small>Try adjusting your search or filter to find what you're looking for.</small>
		</div>

	</div>

	<div class="empty-filters" ng-if="!mediaList.length && !showLoading">
		<h1>No Data</h1>
		<small>Try Adding in a few media items.</small>
	</div>

	<div class="empty-filters" ng-if="showLoading">
		<h1>Loading</h1>
	</div>

</div>