/*! media-manager 2016-05-19 */
/* Open Sans @font-face kit */
/* BEGIN Light */
@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans/Light/OpenSans-Light.eot');
  src: url('fonts/OpenSans/Light/OpenSans-Light.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans/Light/OpenSans-Light.woff') format('woff'), url('fonts/OpenSans/Light/OpenSans-Light.ttf') format('truetype'), url('fonts/OpenSans/Light/OpenSans-Light.svg#OpenSansLight') format('svg');
  font-weight: 300;
  font-style: normal;
}
/* END Light */
/* BEGIN Light Italic */
@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans/LightItalic/OpenSans-LightItalic.eot');
  src: url('fonts/OpenSans/LightItalic/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans/LightItalic/OpenSans-LightItalic.woff') format('woff'), url('fonts/OpenSans/LightItalic/OpenSans-LightItalic.ttf') format('truetype'), url('fonts/OpenSans/LightItalic/OpenSans-LightItalic.svg#OpenSansLightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}
/* END Light Italic */
/* BEGIN Regular */
@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans/Regular/OpenSans-Regular.eot');
  src: url('fonts/OpenSans/Regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans/Regular/OpenSans-Regular.woff') format('woff'), url('fonts/OpenSans/Regular/OpenSans-Regular.ttf') format('truetype'), url('fonts/OpenSans/Regular/OpenSans-Regular.svg#OpenSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* END Regular */
/* BEGIN Italic */
@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans/Italic/OpenSans-Italic.eot');
  src: url('fonts/OpenSans/Italic/OpenSans-Italic.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans/Italic/OpenSans-Italic.woff') format('woff'), url('fonts/OpenSans/Italic/OpenSans-Italic.ttf') format('truetype'), url('fonts/OpenSans/Italic/OpenSans-Italic.svg#OpenSansItalic') format('svg');
  font-weight: normal;
  font-style: italic;
}
/* END Italic */
/* BEGIN Semibold */
@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans/Semibold/OpenSans-Semibold.eot');
  src: url('fonts/OpenSans/Semibold/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans/Semibold/OpenSans-Semibold.woff') format('woff'), url('fonts/OpenSans/Semibold/OpenSans-Semibold.ttf') format('truetype'), url('fonts/OpenSans/Semibold/OpenSans-Semibold.svg#OpenSansSemibold') format('svg');
  font-weight: 600;
  font-style: normal;
}
/* END Semibold */
/* BEGIN Semibold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans/SemiboldItalic/OpenSans-SemiboldItalic.eot');
  src: url('fonts/OpenSans/SemiboldItalic/OpenSans-SemiboldItalic.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans/SemiboldItalic/OpenSans-SemiboldItalic.woff') format('woff'), url('fonts/OpenSans/SemiboldItalic/OpenSans-SemiboldItalic.ttf') format('truetype'), url('fonts/OpenSans/SemiboldItalic/OpenSans-SemiboldItalic.svg#OpenSansSemiboldItalic') format('svg');
  font-weight: 600;
  font-style: italic;
}
/* END Semibold Italic */
/* BEGIN Bold */
@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans/Bold/OpenSans-Bold.eot');
  src: url('fonts/OpenSans/Bold/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans/Bold/OpenSans-Bold.woff') format('woff'), url('fonts/OpenSans/Bold/OpenSans-Bold.ttf') format('truetype'), url('fonts/OpenSans/Bold/OpenSans-Bold.svg#OpenSansBold') format('svg');
  font-weight: bold;
  font-style: normal;
}
/* END Bold */
/* BEGIN Bold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans/BoldItalic/OpenSans-BoldItalic.eot');
  src: url('fonts/OpenSans/BoldItalic/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans/BoldItalic/OpenSans-BoldItalic.woff') format('woff'), url('fonts/OpenSans/BoldItalic/OpenSans-BoldItalic.ttf') format('truetype'), url('fonts/OpenSans/BoldItalic/OpenSans-BoldItalic.svg#OpenSansBoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}
/* END Bold Italic */
/* BEGIN Extrabold */
@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans/ExtraBold/OpenSans-ExtraBold.eot');
  src: url('fonts/OpenSans/ExtraBold/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans/ExtraBold/OpenSans-ExtraBold.woff') format('woff'), url('fonts/OpenSans/ExtraBold/OpenSans-ExtraBold.ttf') format('truetype'), url('fonts/OpenSans/ExtraBold/OpenSans-ExtraBold.svg#OpenSansExtrabold') format('svg');
  font-weight: 800;
  font-style: normal;
}
/* END Extrabold */
/* BEGIN Extrabold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot');
  src: url('fonts/OpenSans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff') format('woff'), url('fonts/OpenSans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.ttf') format('truetype'), url('fonts/OpenSans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.svg#OpenSansExtraboldItalic') format('svg');
  font-weight: 800;
  font-style: italic;
}
/* END Extrabold Italic */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:vertical {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:vertical:hover,
.custom-scrollbar::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: #999;
}
.custom-scrollbar::-webkit-scrollbar-thumb:horizontal {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
}
.transparent-image-bg {
  background-image: -webkit-linear-gradient(45deg, #efefef 25%, transparent 25%, transparent 75%, #efefef 75%, #efefef), -webkit-linear-gradient(45deg, #efefef 25%, transparent 25%, transparent 75%, #efefef 75%, #efefef);
  background-image: linear-gradient(45deg, #efefef 25%, transparent 25%, transparent 75%, #efefef 75%, #efefef), linear-gradient(45deg, #efefef 25%, transparent 25%, transparent 75%, #efefef 75%, #efefef);
  background-position: 0 0,10px 10px;
  background-size: 21px 21px;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', 'Verdana', Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: #f5f5f5;
  color: #666;
  height: 100%;
}
html .btn,
body .btn {
  outline: none !important;
}
html .btn:active,
body .btn:active,
html .btn:hover,
body .btn:hover,
html .btn:focus,
body .btn:focus {
  outline: none !important;
}
html .tooltip-inner,
body .tooltip-inner {
  border-radius: 2px;
  font-size: 11px;
  background: rgba(18, 21, 29, 0.96);
  box-shadow: none;
  color: #f9f9fb;
  letter-spacing: .8px;
  text-transform: uppercase;
  padding: 6px 10px;
}
body {
  padding-top: 100px;
  overflow: hidden;
}
body.on-drop-hover #mm-filedrop-cover {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.mm-wrapper .sidebar,
.mm-wrapper .filters,
.mm-wrapper .main {
  margin-bottom: 60px;
}
.mm-wrapper .navbar.navbar-fixed-top {
  background: #fff;
  min-height: 100px;
}
.mm-wrapper .navbar.navbar-fixed-top > .container-fluid {
  padding-right: 15px;
  padding-left: 15px;
}
.mm-wrapper .navbar.navbar-fixed-top .btn-close {
  opacity: .5;
}
.mm-wrapper .navbar.navbar-fixed-top .btn-close:hover {
  opacity: 1;
}
.mm-wrapper .navbar .navbar-nav > li > a .fa {
  margin-right: 5px;
  font-size: 15px;
}
.mm-wrapper .navbar .nav.nav-pushed-left {
  margin-right: 65px;
}
.mm-wrapper .main {
  -webkit-transition: width 200ms ease;
          transition: width 200ms ease;
}
.mm-wrapper .sidebar {
  position: fixed;
  top: 134px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 0 20px 20px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff;
  border-right: 1px solid #eee;
}
.mm-wrapper .sidebar > .nav-sidebar {
  margin-left: -20px;
  margin-right: -20px;
}
.mm-wrapper .sidebar .nav-sidebar {
  margin-bottom: 20px;
  padding: 0;
}
.mm-wrapper .sidebar .nav-sidebar > li {
  display: block;
  margin-bottom: 0;
  padding: 0;
}
.mm-wrapper .sidebar .nav-sidebar > li > a {
  padding: 5px 0px 5px 40px;
  color: #666;
  font-weight: 500;
  display: block;
  position: relative;
  -webkit-transition: color 200ms ease, box-shadow 200ms ease, opacity 200ms ease, background 500ms ease;
          transition: color 200ms ease, box-shadow 200ms ease, opacity 200ms ease, background 500ms ease;
}
.mm-wrapper .sidebar .nav-sidebar > li > a:hover,
.mm-wrapper .sidebar .nav-sidebar > li > a:active,
.mm-wrapper .sidebar .nav-sidebar > li > a:focus {
  text-decoration: none;
}
.mm-wrapper .sidebar .nav-sidebar > li > a .sb-icon {
  opacity: .8;
  position: absolute;
  left: 20px;
  top: 8px;
}
.mm-wrapper .sidebar .nav-sidebar > li > a .sb-text {
  display: block;
  width: 98%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mm-wrapper .sidebar .nav-sidebar > li > a small {
  text-transform: uppercase;
  letter-spacing: .8px;
}
.mm-wrapper .sidebar .nav-sidebar > li > a.drop-hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.mm-wrapper .sidebar .nav-sidebar > li.root-node > a {
  padding-left: 20px;
}
.mm-wrapper .sidebar .nav-sidebar > li.active > a,
.mm-wrapper .sidebar .nav-sidebar > li.active > a:hover,
.mm-wrapper .sidebar .nav-sidebar > li.active > a:focus {
  color: #428bca;
  background-color: transparent;
  box-shadow: inset -4px 0 0 -1px #1784c7;
  text-decoration: none;
}
.mm-wrapper .sidebar .nav-sidebar > li.active > a .sb-icon,
.mm-wrapper .sidebar .nav-sidebar > li.active > a:hover .sb-icon,
.mm-wrapper .sidebar .nav-sidebar > li.active > a:focus .sb-icon {
  opacity: 1;
}
.mm-wrapper .sidebar .nav-sidebar > li > ul {
  padding-left: 15px;
  margin-bottom: 0;
}
.mm-wrapper .sidebar .folder-tree li {
  background: url('imgs/treeview-default-line.gif?v=1 0') no-repeat 0px -119px;
}
.mm-wrapper .sidebar .folder-tree li:last-child {
  background-position: 0 -1885px;
}
.mm-wrapper #mm-add-folder-wrap {
  position: fixed;
  left: 0;
  top: 100px;
  margin-right: -2px;
  background: #fff;
  padding: 0;
}
.mm-wrapper #mm-add-folder-wrap .form-control {
  border-radius: 0;
  box-shadow: none;
  border-color: #e7e7e7;
}
.mm-wrapper #mm-add-folder-wrap .input-group-btn .btn {
  border-radius: 0;
  border-color: #e7e7e7;
  text-transform: uppercase;
  letter-spacing: .8px;
  font-weight: 600;
  color: #666;
}
.mm-wrapper .filters {
  position: fixed;
  top: 101px;
  bottom: 0;
  right: 0;
  z-index: 1000;
  display: block;
  padding: 30px 20px 20px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff;
  border-left: 1px solid #eee;
  opacity: 0;
  -webkit-transition: -webkit-transform 200ms ease,opacity 200ms ease;
          transition: transform 200ms ease,opacity 200ms ease;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.mm-wrapper .filters.filters.is-open {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.mm-wrapper .filters #mm-filter-accordion .panel-title {
  text-transform: uppercase;
  letter-spacing: .8px;
  font-size: .8em;
  font-weight: 600;
}
.mm-wrapper .mm-filter-options {
  margin: 0;
  padding: 0;
  list-style: none;
}
.mm-wrapper .mm-filter-options .mm-f-item {
  position: relative;
  margin-bottom: .8em;
}
.mm-wrapper .mm-filter-options .mm-f-item:last-child {
  margin-bottom: 0;
}
.mm-wrapper .mm-filter-options .mm-f-item .mm-f-label {
  padding-left: 24px;
  color: #666;
  font-weight: 500;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-transform: uppercase;
  letter-spacing: .8px;
  font-size: .8em;
  font-weight: 600;
}
.mm-wrapper .mm-filter-options .mm-f-item .mm-f-label:after,
.mm-wrapper .mm-filter-options .mm-f-item .mm-f-label:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.mm-wrapper .mm-filter-options .mm-f-item .mm-f-label:after {
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  left: 5px;
  display: none;
}
.mm-wrapper .mm-filter-options .mm-f-item .mm-f-label:before {
  width: 16px;
  height: 16px;
  left: 0;
  background-color: #ffffff;
  border: 2px solid #e6e6e6;
}
.mm-wrapper .mm-filter-options .mm-f-item.is-active .mm-f-label:before {
  border-color: #4285f4;
  background-color: #4285f4;
}
.mm-wrapper .mm-filter-options .mm-f-item.is-active .mm-f-label:after {
  display: block;
}
.mm-wrapper .mm-filter-options.mm-f-radio .mm-f-item .mm-f-label:after,
.mm-wrapper .mm-filter-options.mm-f-radio .mm-f-item .mm-f-label:before {
  border-radius: 50%;
}
.mm-wrapper .mm-filter-options.mm-f-checkbox .mm-f-item .mm-f-label:after {
  left: 0;
  width: 16px;
  height: 16px;
  background: url("imgs/cd-icon-check.svg?v=1 0") no-repeat center center;
}
.mm-wrapper .footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  z-index: 1000;
  background-color: #fff;
  padding: 11px 0;
  border-top: 1px solid #e5e5e5;
  text-align: right;
  box-sizing: border-box;
}
.mm-wrapper .footer .btn {
  text-transform: uppercase;
  letter-spacing: .8px;
  font-size: 1em;
}
.mm-wrapper .footer .btn.btn-link:hover {
  text-decoration: none;
}
.mm-wrapper .footer .row {
  margin-right: -15px;
  margin-left: -15px;
}
.mm-wrapper .footer .row .col-xs-6 {
  -webkit-flex-basis: 49%;
      -ms-flex-preferred-size: 49%;
          flex-basis: 49%;
  max-width: 49%;
}
.mm-wrapper .btn-all-caps {
  text-transform: uppercase;
  letter-spacing: .8px;
  font-size: 1em;
}
#ff-fc-open-state {
  outline: none;
  box-shadow: none;
  width: 250px !important;
}
.mm-wrapper .fancy-filter {
  position: relative;
}
.mm-wrapper .fancy-filter .form-control {
  border: none;
  width: 96px !important;
  padding-left: 30px;
  box-shadow: none;
  -webkit-transition: width 200ms ease;
          transition: width 200ms ease;
}
.mm-wrapper .fancy-filter .form-control:focus {
  outline: none;
  box-shadow: none;
  width: 250px !important;
}
.mm-wrapper .fancy-filter .form-control::-webkit-input-placeholder,
.mm-wrapper .fancy-filter .form-control::-webkit-input-placeholder {
  color: #555;
}
.mm-wrapper .fancy-filter .form-control::-webkit-input-placeholder,
.mm-wrapper .fancy-filter .form-control::placeholder {
  color: #555;
}
.mm-wrapper .fancy-filter .ff-icon {
  position: absolute;
  left: 0;
  padding: 8px;
  pointer-events: none;
  top: 1px;
}
.mm-wrapper .fancy-filter.is-wide .form-control {
  outline: none;
  box-shadow: none;
  width: 250px !important;
}
.mm-wrapper .media-listing .media-container {
  padding: 1em 0;
}
.mm-wrapper .media-listing .media-container .media-item {
  height: 200px;
  padding: 0;
  margin: 0 30px 30px 0;
  position: relative;
  overflow: hidden;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(43, 59, 93, 0.29);
}
.mm-wrapper .media-listing .media-container .media-item .image {
  height: 160px;
  overflow: hidden;
  background-image: -webkit-linear-gradient(45deg, #efefef 25%, transparent 25%, transparent 75%, #efefef 75%, #efefef), -webkit-linear-gradient(45deg, #efefef 25%, transparent 25%, transparent 75%, #efefef 75%, #efefef);
  background-image: linear-gradient(45deg, #efefef 25%, transparent 25%, transparent 75%, #efefef 75%, #efefef), linear-gradient(45deg, #efefef 25%, transparent 25%, transparent 75%, #efefef 75%, #efefef);
  background-position: 0 0,10px 10px;
  background-size: 21px 21px;
}
.mm-wrapper .media-listing .media-container .media-item .image img {
  width: 100%;
  height: auto;
}
.mm-wrapper .media-listing .media-container .media-item .overlay {
  background: rgba(37, 44, 58, 0.88);
  position: absolute;
  width: 100%;
  height: 160px;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 2px 2px 0 0;
  opacity: 0;
  -webkit-transition: -webkit-transform 200ms ease,opacity 200ms ease;
          transition: transform 200ms ease,opacity 200ms ease;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}
.mm-wrapper .media-listing .media-container .media-item .overlay .tools {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  visibility: hidden;
  border: 10px solid transparent;
  -webkit-transition: visibility 0s ease 450ms;
          transition: visibility 0s ease 450ms;
}
.mm-wrapper .media-listing .media-container .media-item .overlay .tools li {
  float: left;
  list-style: none;
  cursor: pointer;
  padding: 0;
  margin: 0 0 0 12px;
}
.mm-wrapper .media-listing .media-container .media-item .overlay .tools li a {
  opacity: 0;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transition: -webkit-transform .2s ease,opacity .2s ease;
          transition: transform .2s ease,opacity .2s ease;
  color: #fff;
  display: block;
  font-weight: 400;
}
.mm-wrapper .media-listing .media-container .media-item .overlay .tools li:nth-child(2) a {
  -webkit-transition-delay: 25ms;
          transition-delay: 25ms;
}
.mm-wrapper .media-listing .media-container .media-item .overlay .tools li:nth-child(3) a {
  -webkit-transition-delay: 50ms;
          transition-delay: 50ms;
}
.mm-wrapper .media-listing .media-container .media-item .overlay .mm-btn-more-tools {
  overflow: hidden;
  width: 40px;
  height: 40px;
  z-index: 2;
  top: 0;
  right: 0;
  display: block;
  border: 10px solid transparent;
  position: absolute;
  cursor: pointer;
  font-size: 1.3em;
  text-align: center;
  color: #fff;
  opacity: .8;
}
.mm-wrapper .media-listing .media-container .media-item .overlay.show-more-tools .tools {
  visibility: visible;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.mm-wrapper .media-listing .media-container .media-item .overlay.show-more-tools .tools a {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: .8;
}
.mm-wrapper .media-listing .media-container .media-item .overlay.show-more-tools .mm-btn-more-tools {
  opacity: 0!important;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.mm-wrapper .media-listing .media-container .media-item.item-selected .overlay,
.mm-wrapper .media-listing .media-container .media-item:hover .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.mm-wrapper .media-listing .media-container .media-item .info {
  height: 40px;
  width: 100%;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: auto;
  z-index: 1;
  box-shadow: 0 -1px 0 0 rgba(80, 88, 104, 0.12);
  border-radius: 0 0 3px 3px;
  -webkit-transition: -webkit-transform 200ms ease;
          transition: transform 200ms ease;
}
.mm-wrapper .media-listing .media-container .media-item .info .filename .info-fn-cols {
  padding-top: 10px;
  padding-bottom: 10px;
}
.mm-wrapper .media-listing .media-container .media-item .info .filename .info-fn-cols .fa {
  margin-left: 5px;
}
.mm-wrapper .media-listing .media-container .media-item .info .filename .icon-image {
  color: orange;
}
.mm-wrapper .media-listing .media-container .media-item .info .filename .icon-video {
  color: red;
}
.mm-wrapper .media-listing .media-container .media-item .info .filename .icon-page {
  color: blue;
}
.mm-wrapper .media-listing .media-container .media-item .info .filename .text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 0;
}
.mm-wrapper .media-listing .media-container .media-item:hover .info {
  -webkit-transform: translateY(-37px);
          transform: translateY(-37px);
}
.mm-wrapper .media-listing .media-container .media-item .sub-info {
  padding: 10px;
  font-size: 12px;
  margin-top: 3px;
}
.mm-wrapper .media-listing .media-container .media-item .checker {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 10px;
  opacity: .7;
  -webkit-transition: opacity 200ms ease;
          transition: opacity 200ms ease;
}
.mm-wrapper .media-listing .media-container .media-item .checker input[type=checkbox] {
  margin: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
.mm-wrapper .media-listing .media-container .media-item .checker label {
  width: inherit;
  height: inherit;
  overflow: hidden;
  margin: 0;
  background: url('imgs/fancybox-sprite.png?v=1 0') no-repeat rgba(128, 128, 128, 0.14);
  background-position: 0 -260px;
  border-radius: 50%;
  cursor: pointer;
}
.mm-wrapper .media-listing .media-container .media-item .checker input[type=checkbox]:checked + label,
.mm-wrapper .media-listing .media-container .media-item .checker label.is-set {
  background-position: 0 -222px;
}
.mm-wrapper .media-listing .media-container .media-item .checker.big {
  height: 25px;
  width: 24px;
}
.mm-wrapper .media-listing .media-container .media-item .checker.big label {
  background-position: 0 -73px;
}
.mm-wrapper .media-listing .media-container .media-item .checker.big input[type=checkbox]:checked + label,
.mm-wrapper .media-listing .media-container .media-item .checker.big label.is-set {
  background-position: 0 0;
}
.mm-wrapper .media-listing .media-container .media-item.item-selected .checker,
.mm-wrapper .media-listing .media-container .media-item .checker:hover {
  opacity: 1;
}
.mm-item-drag-helper {
  width: 50px;
  height: 50px;
}
.mm-item-drag-helper.ui-draggable-dragging {
  position: fixed !important;
  z-index: 1001;
}
.mm-item-drag-helper .item-icon {
  border-right: 1px solid transparent;
  background: #ccc;
  color: #333;
}
.mm-item-drag-helper .item-icon i {
  display: block;
  padding: 2px;
}
.mm-item-drag-helper .item-icon img {
  width: 100%;
  height: auto;
}
.mm-wrapper .select-count {
  color: #4a556b;
  text-transform: uppercase;
  pointer-events: none;
  margin-right: 2em;
}
.mm-wrapper .select-count .label {
  border-radius: 100px;
  background: #54c08a;
  color: #fff;
  padding: 1px 10px 2px;
  margin: 1px 6px 0 0;
  font-size: 12px;
}
.mm-wrapper .empty-filters {
  font-weight: 300;
  font-size: 1.5em;
  letter-spacing: .8px;
  width: 100%;
  text-align: center;
  display: block;
  clear: both;
  line-height: 30px;
  color: #BCBCBC;
}
.mm-wrapper .empty-filters h1 {
  font-weight: 300;
  font-size: 30px;
  color: #BCBCBC;
  margin: 46px 0 21px;
}
.mm-wrapper .btn-add {
  position: fixed;
  z-index: 1030;
  right: 25px;
  top: 70px;
  cursor: pointer;
  background-color: #4285f4;
  border-radius: 100%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.28);
  -webkit-transition: all 400ms ease, -webkit-transform 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275), background-color 400ms ease;
          transition: all 400ms ease, transform 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275), background-color 400ms ease;
}
.mm-wrapper .btn-add .btnf-icon {
  display: block;
  width: 55px;
  height: 55px;
  background: url('imgs/plus-18-white.png?v=1 0') center center no-repeat;
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transition: transform 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.mm-wrapper .btn-add.btnf-close {
  background-color: #384052;
  z-index: 1031;
}
.mm-wrapper .btn-add.btnf-close .btnf-icon {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.mm-wrapper .btn-add:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.mm-wrapper #mm-addfiles-cover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.9);
  z-index: 1030;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: -webkit-transform 200ms ease,opacity 200ms ease;
          transition: transform 200ms ease,opacity 200ms ease;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.mm-wrapper #mm-addfiles-cover.is-open {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.mm-wrapper #mm-addfiles-cover .dropzone-inner {
  padding: 1em;
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transition: transform 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.mm-wrapper #mm-addfiles-cover .dropzone-inner .no-drop {
  display: none;
}
.mm-wrapper #mm-addfiles-cover .dropzone-inner .icon {
  font-size: 6em;
  text-align: center;
  line-height: 0;
  color: #5f6f93;
  opacity: .83;
}
.mm-wrapper #mm-addfiles-cover .dropzone-inner .input-group .form-control,
.mm-wrapper #mm-addfiles-cover .dropzone-inner p {
  font-size: 29px;
  color: #5f6f93;
  font-weight: 300;
  text-align: center;
}
.mm-wrapper #mm-addfiles-cover .dropzone-inner .input-group .form-control.bold,
.mm-wrapper #mm-addfiles-cover .dropzone-inner p.bold {
  text-transform: uppercase;
  font-weight: 700;
}
.mm-wrapper #mm-addfiles-cover .dropzone-inner .input-group .form-control .btn-browse,
.mm-wrapper #mm-addfiles-cover .dropzone-inner p .btn-browse {
  cursor: pointer;
  border-bottom: 1px solid #6779a0;
}
.mm-wrapper #mm-addfiles-cover .dropzone-inner .input-group {
  width: 100%;
}
.mm-wrapper #mm-addfiles-cover .dropzone-inner .input-group .form-control::-webkit-input-placeholder {
  color: #5f6f93 !important;
}
.mm-wrapper #mm-addfiles-cover .dropzone-inner .input-group .form-control::-moz-placeholder {
  color: #5f6f93 !important;
}
.mm-wrapper #mm-addfiles-cover .dropzone-inner .input-group .form-control:-ms-input-placeholder {
  color: #5f6f93 !important;
}
.mm-wrapper #mm-addfiles-cover .dropzone-inner .input-group .form-control::placeholder {
  color: #5f6f93 !important;
}
.mm-wrapper #mm-addfiles-cover .dropzone-inner .input-group .form-control:placeholder-shown {
  border: none;
  background: transparent;
  box-shadow: none;
}
.mm-wrapper #mm-addfiles-cover .dropzone-inner .input-group .form-control:placeholder-shown + .input-group-btn {
  display: none;
}
.mm-wrapper #mm-addfiles-cover .no-drop-support .dropzone-inner .has-drop {
  display: none;
}
.mm-wrapper #mm-addfiles-cover .no-drop-support .dropzone-inner .no-drop {
  display: block;
}
.mm-wrapper #mm-addfiles-cover.on-drop-hover * {
  pointer-events: none !important;
}
.mm-wrapper #mm-addfiles-cover.on-drop-hover .dropzone-inner {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.mm-wrapper #mm-fileupload-cover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(58, 66, 76, 0.96);
  z-index: 1030;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: -webkit-transform 200ms ease,opacity 200ms ease;
          transition: transform 200ms ease,opacity 200ms ease;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.mm-wrapper #mm-fileupload-cover.is-open {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.mm-wrapper #mm-fileupload-cover .fu-progress {
  background: #fff;
  padding: 0;
  border-radius: 4px;
}
.mm-wrapper #mm-fileupload-cover .fu-progress .header-bar {
  border-bottom: 1px solid #eaecf1;
  padding: 20px 10px;
  text-align: center;
}
.mm-wrapper #mm-fileupload-cover .fu-progress .header-bar .label {
  border-radius: 100px;
  color: #fff;
  padding: 1px 12px 2px;
  margin: 1px 6px 0 0;
  font-size: 12px;
  font-weight: 600;
}
.mm-wrapper #mm-fileupload-cover .fu-progress .header-bar .label.label-success {
  background: #54c08a;
}
.mm-wrapper #mm-fileupload-cover .fu-progress .header-bar .label.label-danger {
  background: #a94442;
}
.mm-wrapper #mm-fileupload-cover .fu-progress .header-bar span {
  font-size: 1.5em;
  color: #5f6f93;
  font-weight: 500;
}
.mm-wrapper #mm-fileupload-cover .fu-progress .footer-bar {
  border-top: 1px solid #eaecf1;
  padding: 20px 10px;
}
.mm-wrapper #mm-fileupload-cover .fu-progress .footer-bar .btn {
  text-transform: uppercase;
  letter-spacing: .8px;
  font-size: 1em;
}
.mm-wrapper #mm-fileupload-cover .fu-progress .footer-bar .btn:hover {
  text-decoration: none;
}
.mm-wrapper #mm-fileupload-cover .fu-progress .content-sec {
  margin: 0;
  max-height: 400px;
  min-height: 200px;
  overflow: auto;
  padding: 20px 0 20px;
  background-color: #f5f5f5;
}
.mm-wrapper #mm-fileupload-cover .fu-progress .content-sec > .row {
  margin: 0;
}
.mm-wrapper #mm-fileupload-cover .fu-progress .upload-item {
  height: 200px;
  padding: 0;
  margin: 5px 10px 5px 0;
  position: relative;
  overflow: hidden;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(43, 59, 93, 0.29);
}
.mm-wrapper #mm-fileupload-cover .fu-progress .upload-item .mm-thumb {
  height: 160px;
  overflow: hidden;
  background-image: -webkit-linear-gradient(45deg, #efefef 25%, transparent 25%, transparent 75%, #efefef 75%, #efefef), -webkit-linear-gradient(45deg, #efefef 25%, transparent 25%, transparent 75%, #efefef 75%, #efefef);
  background-image: linear-gradient(45deg, #efefef 25%, transparent 25%, transparent 75%, #efefef 75%, #efefef), linear-gradient(45deg, #efefef 25%, transparent 25%, transparent 75%, #efefef 75%, #efefef);
  background-position: 0 0,10px 10px;
  background-size: 21px 21px;
}
.mm-wrapper #mm-fileupload-cover .fu-progress .upload-item .mm-thumb img {
  width: 100%;
  height: auto;
}
.mm-wrapper #mm-fileupload-cover .fu-progress .upload-item .mm-info {
  height: 40px;
  width: 100%;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: auto;
  z-index: 1;
  box-shadow: 0 -1px 0 0 rgba(80, 88, 104, 0.12);
  border-radius: 0 0 3px 3px;
  -webkit-transform: translateY(-37px);
          transform: translateY(-37px);
}
.mm-wrapper #mm-fileupload-cover .fu-progress .upload-item .mm-info .text {
  padding: 5px ;
  font-size: 14px;
  margin-top: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mm-wrapper #mm-fileupload-cover .fu-progress .upload-item .mm-info .text-muted {
  font-size: 10px;
  padding: 0 5px 5px;
  overflow: hidden;
}
.mm-wrapper #mm-fileupload-cover .fu-progress .upload-item .mm-info .progress {
  width: 100%;
  height: 3px;
  border-radius: 0;
  box-shadow: none;
  margin: 0;
  background: transparent;
}
.mm-wrapper #mm-fileupload-cover .fu-progress .upload-item .mm-info .progress .progress-bar {
  box-shadow: none;
  -webkit-transition: background-color 500ms ease;
          transition: background-color 500ms ease;
}
.mm-wrapper #mm-toast-cover {
  position: fixed;
  left: 0;
  right: 0;
  top: 68px;
  width: 100%;
  z-index: 1031;
  pointer-events: none;
}
.mm-wrapper #mm-toast-cover .mm-toast-msg {
  line-height: 1.5em;
  background-color: #323232;
  padding: 10px 25px;
  font-size: 1.1rem;
  font-weight: 300;
  color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  letter-spacing: .8px;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: -webkit-transform 200ms ease,opacity 200ms ease;
          transition: transform 200ms ease,opacity 200ms ease;
  -webkit-transform: translateY(30);
          transform: translateY(30);
}
.mm-wrapper #mm-toast-cover .mm-toast-msg.is-open {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.mm-wrapper .sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}
.mm-wrapper .sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #ccc;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.mm-wrapper .sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.mm-wrapper .sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.mm-wrapper .sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.mm-wrapper .sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.mm-wrapper .sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.mm-wrapper .sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.mm-wrapper .sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.mm-wrapper .sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.mm-wrapper .sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}
@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}
#mm-media-upload {
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
}
#mm-media-upload:focus {
  outline: none;
  box-shadow: none;
}
.mm-wrapper #mm-filedrop-cover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.95);
  z-index: 1030;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: -webkit-transform 200ms ease,opacity 200ms ease;
          transition: transform 200ms ease,opacity 200ms ease;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.mm-wrapper #mm-filedrop-cover .icon {
  font-size: 6em;
  text-align: center;
  line-height: 0;
  color: #5f6f93;
  opacity: .83;
}
.mm-wrapper #mm-filedrop-cover p {
  font-size: 29px;
  color: #5f6f93;
  font-weight: 300;
  text-align: center;
}
.mm-wrapper #mm-folder-manager {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(58, 66, 76, 0.96);
  z-index: 1030;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: -webkit-transform 200ms ease,opacity 200ms ease;
          transition: transform 200ms ease,opacity 200ms ease;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.mm-wrapper #mm-folder-manager.is-open {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.mm-wrapper #mm-folder-manager .mm-fm-inner-wrap {
  background: #fff;
  padding: 0;
  border-radius: 4px;
  overflow: hidden;
}
.mm-wrapper #mm-folder-manager .title {
  padding: 20px 10px;
  text-align: left;
}
.mm-wrapper #mm-folder-manager .title span {
  font-size: 1.5em;
  color: #5f6f93;
  font-weight: 500;
}
.mm-wrapper #mm-folder-manager .title .input-group {
  width: 30%;
}
.mm-wrapper #mm-folder-manager .title .input-group .form-control {
  border-radius: 0;
}
.mm-wrapper #mm-folder-manager .title .input-group .btn {
  border-radius: 0;
}
.mm-wrapper #mm-folder-manager .content {
  margin: 0;
  max-height: 500px;
  min-height: 200px;
  overflow: auto;
  padding: 0 0 20px 15px;
  border-top: 1px solid #eaecf1;
  border-bottom: 1px solid #eaecf1;
  background: #f9f9fb;
  box-sizing: border-box;
}
.mm-wrapper #mm-folder-manager .content .mm-folderList {
  padding: 0;
  margin: 0;
  list-style: none;
}
.mm-wrapper #mm-folder-manager .content .mm-folderList li {
  text-align: left;
  background-image: url('imgs/treeview-default-line.gif?v=1 0');
  background-repeat: no-repeat;
  background-position: -7px -340px;
}
.mm-wrapper #mm-folder-manager .content .mm-folderList li:last-child {
  background: none;
}
.mm-wrapper #mm-folder-manager .content .mm-folderList li:last-child .input-group .input-group-addon {
  background-position: -7px -1882px, 8px 22px;
}
.mm-wrapper #mm-folder-manager .content .mm-folderList li .input-group:hover {
  background-color: #efefef;
}
.mm-wrapper #mm-folder-manager .content .mm-folderList li .input-group:hover .btn-link {
  opacity: 1;
}
.mm-wrapper #mm-folder-manager .content .mm-folderList li .input-group .input-group-addon {
  border: 0;
  background: transparent;
  border-radius: 0;
  padding-left: 15px;
  background: url('imgs/treeview-default-line.gif?v=1 0') no-repeat -7px -116px;
}
.mm-wrapper #mm-folder-manager .content .mm-folderList li .input-group .input-group-addon .fa {
  color: #5f6f93;
}
.mm-wrapper #mm-folder-manager .content .mm-folderList li .input-group .form-control {
  border-radius: 0;
  box-shadow: none;
  border: 0;
  background: transparent;
  padding-left: 0;
}
.mm-wrapper #mm-folder-manager .content .mm-folderList li .input-group .form-control:focus + .input-group-btn .btn-link {
  opacity: 1;
}
.mm-wrapper #mm-folder-manager .content .mm-folderList li .input-group .btn-link {
  color: #5f6f93;
  opacity: 0;
  -webkit-transition: opacity 200ms ease;
          transition: opacity 200ms ease;
}
.mm-wrapper #mm-folder-manager .content .mm-folderList li .mm-folderList {
  margin-left: 15px;
  margin-right: 10px;
}
.mm-wrapper #mm-folder-manager .content .mm-folderList li .mm-folderList li .input-group-addon {
  background-position: -7px -1882px, 8px 22px;
}
.mm-wrapper #mm-folder-manager .content .mm-folderList li.ui-sortable-helper {
  background: #efefef;
}
.mm-wrapper #mm-folder-manager .content .mm-folderList li.ui-sortable-helper .mm-no-children {
  display: none;
}
.mm-wrapper #mm-folder-manager .content .mm-folderList.mm-no-children {
  padding: 10px 10px 10px 0;
  border: 1px dashed #ccc;
  position: relative;
  /*&:before {
						content: '';
						position: absolute;
						top: -13px;
						left: -2px;
						background: #fff;
						width: 2px;
						height: 12px;
					}*/
}
.mm-wrapper #mm-folder-manager .content .mm-folderList .ui-sortable-placeholder {
  background: #efefef;
  border: 1px dashed #ccc;
  visibility: visible !important;
}
.mm-wrapper #mm-folder-manager .footbar {
  padding: 20px 10px;
}
.mm-wrapper #mm-delete-confirmation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(58, 66, 76, 0.96);
  z-index: 1030;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: -webkit-transform 200ms ease,opacity 200ms ease;
          transition: transform 200ms ease,opacity 200ms ease;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.mm-wrapper #mm-delete-confirmation.is-open {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.mm-wrapper #mm-delete-confirmation .dc-innerwrap {
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  padding: 0;
}
.mm-wrapper #mm-delete-confirmation .dc-heading {
  padding: 20px 10px;
  color: #d9534f;
  font-size: 28px;
  margin: 0 0 0;
  text-align: center;
}
.mm-wrapper #mm-delete-confirmation .dc-content {
  border-top: 1px solid #eaecf1;
  background: #f9f9fb;
  padding: 30px;
  box-sizing: border-box;
  text-align: left;
}
.mm-wrapper #mm-delete-confirmation .dc-content h3 {
  font-size: 1.3em;
  color: #464d5d;
  margin: 0 0 12px;
}
.mm-wrapper #mm-delete-confirmation .dc-content strong {
  font-weight: 600;
}
.mm-wrapper #mm-delete-confirmation .dc-content .checkedbox {
  font-size: 1.1em;
  line-height: 20px;
  color: #7e8890;
  font-weight: 400;
  cursor: pointer;
  text-align: left;
  margin: 15px 0;
  padding: 5px 0 5px 32px;
  position: relative;
}
.mm-wrapper #mm-delete-confirmation .dc-content .checkedbox:before,
.mm-wrapper #mm-delete-confirmation .dc-content .checkedbox:after {
  content: '';
  position: absolute;
  left: 1px;
  top: 4px;
  width: 20px;
  height: 20px;
}
.mm-wrapper #mm-delete-confirmation .dc-content .checkedbox:before {
  border: 1px solid #ccc;
  border-radius: 2px;
}
.mm-wrapper #mm-delete-confirmation .dc-content .checkedbox:after {
  font: normal normal normal 11px/1 FontAwesome;
  left: 6px;
  top: 9px;
}
.mm-wrapper #mm-delete-confirmation .dc-content .checkedbox.checked:before {
  border-color: #d9534f;
}
.mm-wrapper #mm-delete-confirmation .dc-content .checkedbox.checked:after {
  content: "\f00c";
  color: #d9534f;
}
.mm-wrapper #mm-delete-confirmation .dc-content .btn-bar {
  text-align: center;
  padding-top: 20px;
}
.mm-wrapper #mm-delete-confirmation .dc-content .btn-bar .btn {
  text-transform: uppercase;
  letter-spacing: .8px;
  font-size: 1em;
}
.mm-wrapper #mm-delete-confirmation .dc-content .btn-bar .btn + .btn {
  margin-left: 10px;
}
